[submodule "skirm-app-shared"]
	path = skirm-app-shared
	url = https://github.com/abundiko/skirm-app-shared
[submodule "src/skirm-app-shared"]
	path = src/skirm-app-shared
	url = https://github.com/abundiko/skirm-app-shared
